*{
  box-sizing: border-box;
}

.App {
  height: 100%;
  text-align: center;
}

body{
  margin: 0 auto;
  height: 100%;
}

nav .widerscr{
  font-family: 'Raleway Dots', cursive;
  display: flex;
  width: 75%;
  justify-content: space-around;
}

.maintitle{
      color: rgba(250, 0, 0, .8);
      font-size: 10vw;
      text-align: center;
      font-family: 'Codystar', cursive;
      text-shadow: 2px 2px gold;
      animation: flash 4s linear 2s infinite alternate;
      }

  @keyframes flash{
    0%  {color: rgba(0,0,0,.8); text-shadow: 2px 2px red; }
    25% {color: rgba(250,0,0,.8); text-shadow: 2px 2px gold; }
    50% {color: rgba(0,0,0,.8); text-shadow: 2px 2px red; }
    75% {color: rgba(250,0,0,.8); text-shadow: 2px 2px black; }
    100% {color: rgba(0,0,0,.8); text-shadow: 2px 2px red; }
  }

/* top nav unvisited link
.topnav:link {
  color: silver;
  text-decoration: none;
} */

 /* top nav visited link */
 .topnav:visited {
   color: silver;
   text-decoration: none; }


.App-header {
  background-color: #223;
  height: 20%;
  color: white;
}

/* Side Nav for mobile*/
.side-nav{
  font-family: 'Codystar', cursive;
  font-weight: bold;
}


.innerStory h3 {
   opacity:0.8;
   font-weight: bold;
   font-family: 'Raleway Dots', cursive;
   /* text is in one line */
    white-space:nowrap;
    overflow:hidden;
    border-right: 1vh solid transparent;
    -webkit-animation: typing 2s steps(40, end),
                        blink-cursor 1s step-end;
    -moz-animation: typing 2s steps(40, end),
                        blink-cursor 1s step-end;
  }

.innerStory h4 {
   opacity:0.8;
   font-family: 'Raleway Dots', cursive;
   white-space:nowrap;
    overflow:hidden;
    border-right: 1vh solid black;
    -webkit-animation: typing 2s steps(50, end),
                        blink-cursor 1s step-end infinite;
    -webkit-animation-delay:2s;
    -webkit-animation-fill-mode:both;
    -moz-animation: typing 2s steps(50, end),
                        blink-cursor 1s step-end infinite;
    -moz-animation-delay:2s;
    -moz-animation-fill-mode:both;
}


@-webkit-keyframes typing {
    from { width: 0; }
    to { width:100%; }
}

@-moz-keyframes typing {
    from { width: 0; }
    to { width:100%; }
}

@-webkit-keyframes blink-cursor {
    0%, 100% { border-color: transparent }
    25% { border-color: black }
    50% { border-color: black }
    75% { border-color: black }
}

@-moz-keyframes blink-cursor {
    0%, 100% { border-color: transparent }
    25% { border-color: black }
    50% { border-color: black }
    75% { border-color: black }
}


.homeParallax {
     /*position: absolute;*/
     /*To support older browsers*/
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    position: relative;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homecontent{
  background-color: rgba(255, 255, 255, 1);
  width: 100vw;
  font-family: 'Raleway Dots', cursive;
}


.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.insidepic {
    font-family: 'Codystar', cursive;
    background-color: #111;
    color: white;
    line-height: 12vh;
    padding: 3vw;
    font-size: 5vh;
    letter-spacing: 10;
}

.chgclr{
      animation: displayMotto 10s linear 3s infinite alternate;
      }

@keyframes displayMotto{
    0%  {background-color: white; font-weight: bold;}
    50% {background-color: rgba(255,111,0,1); font-weight: bold;}
    100% {background-color: black; font-weight: bold;}
  }

.insidepic > span:first-child{
  color: white;
}

.insidepic > span:nth-child(2){
  color: rgba(255,111,0,1);
}

.insidepic > span:nth-child(3){
  color: rgba(255,111,0,1);
}

.insidepic > span:last-child{
 color: white;
}

/*
 .caption span.poemTitle {
  font-family: 'Codystar', cursive;
  font-size: 1.3em;
  margin-left: 10%;
  margin-top: 20%;
  background-color: #111;
  color: white;
  line-height: 10vh;
  padding: 2vw;
  font-size: 4vh;
  letter-spacing: 10;
}

old About Page

.poemTitle{
  font-family: 'Raleway Dots', cursive;
  font-size: 1.3em;
  margin-left: 0.03%;
  margin-top: 20%;
  }


another About Page style
.poemTitle{
   width: 100%;
   text-align: left;
   position: absolute;
   top: 10%;
   font-family: 'Raleway Dots', cursive;
 }

.poemTitle aside{
   width: 11vw;
   font-size: 3vh;
   text-align: center;
}
*/

.pagebkg {
    display: flex;
      /*flex-flow: row wrap; */
     /*position: absolute;*/
     /*To support older browsers*/
    height: 100%;
    width: 100%;
    /* Set the height to match that of the viewport. */
    height: 100vh;
    /* Set the width to match that of the viewport. */
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

/* About and Skills Section */
/*
.aboutContainer{
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
skillcontainer{
display: flex;
  flex-direction: column;
  height: 25%;
  }

   border: 150px solid transparent;
   border-bottom: 120px solid red;

   .diamond:after{
  content: '';
  border: 150px solid transparent;
  border-top: 150px solid red;
}

*/



.skills{
  background-color: rgba(255,100,0, 0.7);
  display: inline-block;
  width: 200px;
  text-align: center;
  padding: 10px 5px;
  margin-top: 10px;
  border-radius: 8px;
  font-weight: 600;
}

.skills:hover{
  cursor: pointer;
}


.rw-wrapper{
  width: 80%;
  position: relative;
  margin: 0px auto 0 auto;
  padding: 10px;
}

.rw-sentence{
  margin: 0;
}

.rw-sentence span{
  text-align: center;
  color: rgba(255,255,255,1);
  font-family: 'Trocchi';
  white-space: nowrap;
  text-shadow: 2px 5px 10px rgba(0,0,0,0.1);
}

.rw-sentence > span{
  position: absolute;
}
/*
.rw-sentence > span:first-child{
  top: 80px;
  left: 140px;
  font-size: 400%;
  color: rgba(87,180,255,0.6);
}

.rw-sentence > span:nth-child(2){
  top: 160px;
  left: 300px;
  font-size: 315%;
  color: rgba(40,218,255, 0.7);
}

.rw-sentence > span:nth-child(3){
  top: 245px;
  left: 65px;
  font-size: 185%;
  color: rgba(87,180,255, 0.8);
}
.rw-sentence > span:last-child{
  top: 435px;
  left: 550px;
  font-size: 200%;
  color: rgba(40,218,255, 0.9);
}
*/
.rw-words{
  position: absolute;
  left: 70%;
  /*left: 220px;
  top: 220px; */
  height: 80px;
  width: 400px;
  -webkit-perspective: 800px;
  perspective: 800px;
}

.rw-words span{
  position: absolute;
  left: 50px;
  font-size: 500%;
  color: transparent;
  text-shadow: 0px 0px 80px rgba(255,255,255,1);
  opacity: 0;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}

.rw-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.rw-words span:nth-child(3) {
    -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.rw-words span:nth-child(4) {
    -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

.rw-words span:nth-child(5) {
    -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

.rw-words span:nth-child(6) {
    -webkit-animation-delay: 15s;
  animation-delay: 15s;
}


@keyframes rotateWord {
    0% { opacity: 0;
          -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
           -webkit-transform: translateY(-200px) translateZ(300px) rotateY(-120deg);
           transform: translateY(-200px) translateZ(300px) rotateY(-120deg); }
    5% { opacity: 1;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
          -webkit-transform: translateY(0px) translateZ(0px) rotateY(0deg);
          transform: translateY(0px) translateZ(0px) rotateY(0deg); }
  6% { text-shadow: 0px 0px 0px rgba(255,255,255,1); color: rgb(255,100,0); }
    17% { opacity: 1; text-shadow: 0px 0px 0px rgba(255,255,255,1); color: rgb(255,111,0); }
    20% { opacity: 0; }
    100% { opacity: 0; }
}

@media screen and (max-width: 1060px){
  .rw-sentence > span:first-child { font-size: 500%; left: 0px;}
  .rw-sentence > span:nth-child(2) { font-size: 200%; top: 195px; left: 30px; }
  .rw-sentence > span:nth-child(3) { top: 285px; left: 30px; font-size: 235%; }
  .rw-words { left: 95px; top: 285px; }
  .rw-words span { font-size: 250%; }
  .rw-sentence > span:last-child { top: 380px; left: 30px; }
}

@media screen and (max-width: 480px){
  .rw-sentence > span:first-child { font-size: 200%; left: 0px;}
  .rw-sentence > span:nth-child(2) { font-size: 100%; top: 50px; left: 10px; }
  .rw-sentence > span:nth-child(3) { top: 76px; left: 10px; font-size: 120%; }
  .rw-words { left: 45px; top: 76px; }
  .rw-words span { font-size: 120%; }
  .rw-sentence > span:last-child { top: 106px; left: 10px; font-size: 100%; }
}




/*Contact Page
 transform:  rotate(-20deg);
*/
/*
recent contact page
.contactme{
  width:100%;
  margin-left: 27%;
  margin-top: 10%;
}

.contactme h1{
  width: 50vw;
  font-family: 'Atomic Age', cursive;
  margin-bottom: 30%;
  animation: flick 30s infinite;
}

@keyframes flick {
   0% {color: rgba(200, 50, 100, 1);}
  25% {color: rgba(255, 255, 255, 1);}
  50% {color: rgba(200, 50, 100, 1); }
  75% {color: rgba(255, 255, 255, 1);}
  100% {color: rgba(200, 50, 100, 1); }
}

*/
.contact{
  flex-wrap: wrap;
}

.leftcontact{
    /*height: 100%;*/
    width: 50%;
    /* Set the height to match that of the viewport. */
    /*height: 100vh; */
    /* Set the width to match that of the viewport. */
   /* width: 50vw; */
    background-repeat: no-repeat;
    background-size: cover;
}
.rightcontact{
     /*height: 100%;*/
     /*width: 50%; */
    /* Set the height to match that of the viewport. */
    /*height: 100vh; */
    /* Set the width to match that of the viewport. */
    /*width: 50vw; */
    width: 50vmin;
    background-position: 45%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Project Page*/

.grow {
  transition: all .4s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.newcolor{
  font-family: 'Atomic Age', cursive;
  text-shadow: 2px 1px black;
}

 .projectcontainer {
    width: 100%;
    margin: 100px auto;
    perspective: 1100px;
  }

.projectcontent {
      margin-top: 5%;
       width: 100%;
       height: 100%;
       display: flex;
       margin-right: 10%;
      -webkit-animation: swing 3s ease-in-out;
      -webkit-transform-origin-y:  0;
    }

@-webkit-keyframes swing {
    0% { -webkit-transform: rotateX(-90deg); }
    30% { -webkit-transform: rotateX(50deg); }
    50% { -webkit-transform: rotateX(-40deg); }
    70% { -webkit-transform: rotateX(20deg); }
    90% { -webkit-transform: rotateX(-10deg); }
  }


